.parsley-errors-list {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  color: red;
}
.parsley-error-list {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  color: red;
}

body {
    color: #000 !important;
}